* {
	box-sizing: border-box;
}

html {
  height: 100%;
}

body {
	min-height: 100%;
	display: grid;
	grid-template-areas: 
		"header"
		"main"
		"footer";
	/*background: url(../assets/background.png) no-repeat center;
    background-size: 300%;
    background-blend-mode: multiply;
    background-color: #666666;*/
}

header {
	grid-area: header;
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 61px 36px;
}

.header-image {
	display: block;
	width: 100%;
}

.header-nav {
	display: none;
}

.header-open {
	display: block;
	padding: 12px;
	width: 55px;
}

.header-open span {
	display: block;
    background: #000;
    height: 2px;
    width: 100%;
    margin-bottom: 8px;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
	clip-path: polygon(0 18%, 100% 25%, 100% 100%, 0% 100%);
	background: #69A618;
}

.footer-container {
	padding: 160px 0 56px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

[class^="fa"] {
	font-size: 3em;
    padding: 20px;
    background-color: white;
}

[class^="fa"]:nth-of-type(2) {
    padding-left: 10px;
    padding-right: 10px;
}
