* {
	box-sizing: border-box;
}

html {
  height: 100%;
}

body {
	min-height: 100%;
	display: grid;
	grid-template-areas: 
		"header"
		"main"
		"footer";
	background-color: #fff;
}

header {
	grid-area: header;
	height: 55.1875em;
	background-color: #6E6E6E;
}

.header-overlay {
	position: absolute;
    background: url(../assets/Sapo_background.png) no-repeat center;
    background-size: 400%;
    opacity: 0.1;
    height: inherit;
    width: 100%;
}

.header-container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 61px 36px;
}

.header-image {
	display: block;
	width: auto;
	height: auto;
	max-height: 33px;
}

.header-nav {
	display: none;
}

.header-open {
	display: inline-block;
	cursor: pointer;
}

.bar1, 
.bar2, 
.bar3 {
	width: 45px;
	height: 6px;
	background-color: #000;
	margin:0 auto;
}

.bar2 {
	margin: 6px 0;
}

.geo1 {
	position: absolute;
	border: 6px solid #3399CC;
}

.geo2 {
	position: absolute;
}

.rect1,
.rect2 {
	width: 16px;
	height: 64px;
	-moz-transform: rotate(300deg);
	-webkit-transform: rotate(300deg);
	-o-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}

.rect1 {
	top: 155px;
    left: 182px;
}

.rect2 {
	top: 345px;
    left: 173px;
}

.tri1 {
	top: 218px;
    left: 87px;
    border-left: 20px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 110px solid #3399CC;
	-moz-transform: scale(-.4, .4) rotate(-75deg);
	-webkit-transform: scale(-.4, .4) rotate(-75deg);
	-o-transform: scale(-.4, .4) rotate(-75deg);
	-ms-transform: scale(-.4, .4) rotate(-75deg);
	transform: scale(-.4, .4) rotate(-75deg);
}

.circle {
	border-radius: 50%;
    width: 65px;
    height: 65px;
    top: 404px;
	left: 61px;
}

.tri2 {
	top: 390px;
	left: 203px;
    border-left: 20px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 110px solid #3399CC;
	-moz-transform: scale(-.7, .7) rotate(-25deg);
	-webkit-transform: scale(-.7, .7) rotate(-25deg);
	-o-transform: scale(-.7, .7) rotate(-25deg);
	-ms-transform: scale(-.7, .7) rotate(-25deg);
	transform: scale(-.7, .7) rotate(-25deg);
}

.icone-offset {
	position: relative;
    top: 382px;
    width: 306px;
    height: 189px;
    margin: auto;
    background: url(../assets/Sapo_simbolo.png) no-repeat -187px 25%;
    background-size: 215%;
}

main {
	grid-area: main;
	/*-webkit-clip-path: polygon(0 15%, 100% 100%, 100% 100%, 0% 100%);
	clip-path: polygon(0 15%, 100% 100%, 100% 100%, 0% 100%);*/
}

footer {
	grid-area: footer;
	-webkit-clip-path: polygon(0 18%, 100% 25%, 100% 100%, 0% 100%);
	clip-path: polygon(0 18%, 100% 25%, 100% 100%, 0% 100%);
	background: #69A618;
}

.footer-container {
	padding: 160px 0 56px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

[class^="fa"] {
	font-size: 3em;
    padding: 20px;
    background-color: white;
}

[class^="fa"]:nth-of-type(2) {
    padding-left: 10px;
    padding-right: 10px;
}
